* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background{
  width: 100%;
  height: 100%;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dfdada;
  
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
}

p{
  color: rgba(244, 200, 39, 0.921);
  text-align: center;
  font-size: 18px;
}

.head{
  color: rgba(22, 234, 245, 0.478);
  font-size: 140px;
}

.description{
  color: rgba(35, 218, 26, 0.696);
  font-size: 60px;
}

.output{
  background-color: #8b858541;
}

.prediction{
  color: rgb(7, 7, 7);
}